<html>

<head>
  <title>jetBlue</title>
  <!-- Base -->
  <script src='/static/js/jquery-3.3.1.min.js'></script>
  <!-- Popper -->
  <script src='/static/api/Popper/popper.js'></script>
  <!-- Bootstrap -->
  <link rel='stylesheet' href='/static/api/BootStrap/css/bootstrap.css'>
  <link rel='stylesheet' href='/static/api/BootStrap/css/bootstrap.min.css'>
  <script src='/static/api/BootStrap/js/bootstrap.js'></script>
  <script src='/static/api/BootStrap/js/bootstrap.min.js'></script>
  <!-- D3 -->
  <script src='/static/api/D3/d3.js'></script>
  <script src='/static/api/D3/d3.min.js'></script>
  <!-- Numerical -->
  <script src='/static/api/Numeric/numeric.js'></script>
  <!-- Parser -->
  <script src='/static/api/PapaParse/papaparse.js'></script>
  <script src='/static/api/PapaParse/papaparse.min.js'></script>
  <!-- Leaflet -->
  <script src='/static/api/Leaflet/leaflet.js'></script>
  <link rel='stylesheet' href='/static/api/Leaflet/leaflet.css'>
  <!-- Carto -->
  <script src='/static/js/carto.min.js'></script>
  <!--  -->
  <link rel='stylesheet' href='/static/css/style.css'>
</head>

<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-jetBlue">
    <a class="navbar-brand" href="#">
      <img id="navLogo" src="/static/media/logo.svg" alt="">
    </a>
  </nav>
  <div id="container">
    <div id="map"></div>
  </div>
  <script src='/static/js/script.js'></script>
</body>

</html>
